/************
1. FONTS
2. Common style
3. Header
4. Footer
5 HOME
   5.1 SLIDER HOME TOP 
   5.2 MULTI SLIDER HOME
******************/



/*******************1. FONTS**************************/
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
  /*  url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'), */
    /* Super YandexSansText Browsers */
    url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/ProximaNova-Regular.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Bold.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Bold?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Bold.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Bold.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 900;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Medium.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Medium.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Medium.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Medium.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Regular.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Regular?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Regular.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Regular.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Regular.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Light.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Light?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Light.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Light.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Light.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Thin.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Thin?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Thin.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Thin.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Thin.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Thin.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 100;
}




/***************  2. Common style       ******************************/
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

a img,
:link img,
:visited img {
  border: 0;
}

a {
  text-decoration: none;
}

div,
header,
section,
p,
a,
img,
body,
html,
input,
textarea,
footer,
button {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

d-none {
  display: none;
}

.relative {
  position: relative;
}


/******************************/
/***********3. Header *******************/
/******************************/
header {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Proxima Nova';
  padding-top: 39px;
}

.top-head {
  display: flex;
  justify-content: space-between;
}

.logo-w a {
  display: flex;
  flex-direction: column;
  color: black;
}

.logo-w a span {
  padding-top: 10px;
  font-size: 11px;
  letter-spacing: 0.55em;
}

a.tel {
  font-size: 26px;
  color: black;
  display: block;
  margin-top: -6px;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  padding-top: 22px;
}

.top-menu ul a {
  font-size: 19px;
  padding: 10px 0 10px 39px;
  padding-left: 39px;
  color: black;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-menu ul a:hover {
  color: #F00D44;
}

.line-top {
  margin-top: 22px;
}

.line-animation {
  width: 100%;
  height: 1px;
  background: black;
}

.main-menu-w ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 26px 0 31px 0;
}

.main-menu-w ul li a {
  color: black;
  font-size: 19px;
  padding: 20px 20px;
  display: block;
}

.main-menu-w ul li a:hover {
  transition: all 0.4s;
}

.main-menu-w ul li a{
  overflow: hidden;
  position: relative;
}
.main-menu-w ul li a:before {
  left: 16px;
  bottom: 17px;
  width: 0px;
  height: 2px;
  background: black;
  content: " ";
  display: block;
  position: absolute;
  opacity: 1;
  transition: width 0.5s ease;
  transition: opacity 1s ease;
  opacity: 1;
}

.main-menu-w ul li a.special:before {
  width:  calc(100% - 34px);
  transition: width 0.5s ease;
}
.main-menu-w ul li a.specialhide:before {
  opacity: 0;
  transition: opacity 1s ease;
}


/************************************ 5 HOME ******************/
/***********************************************************/
/***********************************************************/


/***************************5.1 SLIDER HOME TOP *******************/
/***********************************************************/

.slider-home-text-w {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1280px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: flex-end;
}

.inner-topsl-text {
  background: rgba(0, 0, 0, 0.24);
  width: 610px;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-home-text-w {
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.69);
}

.slider-home-title {
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  padding-top: 104px;
  color: #FF8A00;
}

.slider-home-text {
  font-size: 29px;
  line-height: 34px;
  line-height: 38px;
  padding-top: 40px;
}

.slider-home-pretitle {
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  padding-top: 41px;
}

.bottom-text {
  padding: 16px 0px;
  font-size: 16px;
  line-height: 19px;
  color: #DFDFDF;
}

.homtop-slide-inner-w img{
  opacity: 0;
}
.homtop-slide-inner-w.relative{
  overflow: hidden;
}

.homtop-slide-inner-w img.absolute {
  margin: 0 auto;
    display: block;
   width: 150%;
   max-width: 150%;
    transition: all 20s linear;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    opacity: 1;
}
.homtop-slide-inner-w.slide-animation img.absolute {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.7);
}


.top-text-dsl {
  position: relative;

}

.slider-home-title {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
.slider-home-text {
  position: absolute;
  left: 0;
  width: 100%;
 left: 300px;
 transition-delay: 5s;
 transition: all 0.3s linear;
 opacity: 0;
}
.slider-home-pretitle {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 1;
  top: 500px;
  transition-delay: 5s;
  transition: all 0.3s linear;
  opacity: 0;
}
.slider-home-text-w{
  opacity: 0;
transition-delay: 7s;
transition: all 0.3s linear;
}
.homtop-slide-inner-w.slide-animation .slider-home-text-w {
opacity: 1;
transition: all 0.3s linear;
}
.homtop-slide-inner-w.slide-animation  .slider-home-title {

  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 1;
  transition-delay: 5s;
  transition: all 0.3s linear;
}
.homtop-slide-inner-w.slide-animation  .slider-home-text {
  top: 159px;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 1;
}
.homtop-slide-inner-w.slide-animation  .slider-home-pretitle {
  position: absolute;
  top: 310px;
  left: 0;
  width: 100%;
  opacity: 1;
}

.swiper-wrapper {
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (min-height: 680px), screen and (orientation: portrait) {
  .homtop-slide-inner-w.relative {
  height: 600px;
}

}


/***************************5.2 MULTI SLIDER HOME  *******************/
/***********************************************************/

.multislider-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 129px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #000000;
}

.pretitle-h2 {
  font-size: 37px;
  line-height: 43px;
  text-align: center;
  padding-top: 14px;
    padding-bottom: 123px;

}

.multis-w {
  padding: 6px 6px 3px 6px;
  background: black;
}
.multis-inner-w {
  overflow: hidden;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px 6px;
}
.multis-inner-w img {
  width: 100%;
}

.multi-button-next, .multi-button-prev, .tab-sl-arrovs-prev, .tab-sl-arrovs-next {
  width: 49%;
  height: 100%;
  top: 0;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
.multi-button-prev{
  left: 0;
}

.multi-button-prev-inner:after{
content: 'prev';
}
.multi-button-next-inner:after {
  content: 'next';
}

.multi-button-next-inner:after, .multi-button-prev-inner:after {
  /*
font-family: swiper-icons;
font-size: var(--swiper-navigation-size);
text-transform: none!important;
letter-spacing: 0;
text-transform: none;
font-variant: initial;
left: 14px;
font-size: 13px;
*/
font-size: 0px;
}

.multi-button-prev-inner, .multi-button-next-inner  {
  width: 38px;
  height: 38px;
  /*
  background: rgba(170, 170, 170, 0.26);
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  */
  position: absolute;
  top: calc(50% - 19px);
  left: 14px;
  cursor: pointer;
}
.multi-button-next-inner {
  right: 14px;
  left: auto;
}

/*
.multi-button-next-inner:hover, .multi-button-prev-inner:hover {
    background: rgba(170, 170, 170, 0.8);
    color: rgba(0, 0, 0, 1);
}
*/
.multi-sl-title-w {
  position: absolute;
  bottom: 17px;
  left: 12px;
  background: rgba(0, 0, 0, 0.3);
  width: calc(100% - 24px);
  padding: 12px 17px 12px 14px;
  display: flex;
  justify-content: space-between;
  min-height: 48px;;
}
.multi-sl-color-t {
  color: #FFBA69;
  font-size: 19px;

}
.multi-sl-pretitle {
  font-size: 16px;
  color: white;
  font-family: 'Yandex Sans Text';
}


/**************************************/
.tabs-slider-container{
  width: 1360px;
  margin: 0 auto;
  position: relative;
}
.swiper-container-tab-slider{
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.tabs-slider-container  .swiper-inner img {
  margin: 0 auto;
  display: block;
}
.tab-sl-arrovs-prev {
  right: auto;
  left: 0;
}
.tab-sl-arrovs-prev:focus, .tab-sl-arrovs-next:focus{
  outline: none;
}
 .tab-sl-arrovs-prev, .tab-sl-arrovs-next{
  height: calc(100% - 152px);
}


.tab-sl-arrovs-prev .multi-button-prev-inner, .tab-sl-arrovs-next .multi-button-next-inner  {
 /* background: rgba(0, 0, 0, 0.56);
 */
  width: 58px;
  height: 58px;
  left: 0;
  top: calc(50% - 36px);
}
.tab-sl-arrovs-next .multi-button-next-inner {
  right: 0;
  left: auto;
}
.tab-sl-arrovs-next .multi-button-next-inner:after, .tab-sl-arrovs-prev .multi-button-prev-inner:after{
  font-size: 23px;
  padding-left: 8px;
  color: white;
  
}
.tab-sl-arrovs-prev .multi-button-prev-inner:after{
  padding-right: 8px;
}
.tabs-sl-title h2 {
  margin: 120px 0 62px 0;
}
.tabs-sl-bottom-sin{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 33px 3px;
  align-items: flex-end;
}
.tabs-sl-title{
  font-weight: bold;
  font-size: 19px;
  color: #0A0A0A;
  font-family: Arial;

}
.tabs-sl--pre-title{
  font-size: 16px;
  text-align: right;
  color: #1A1A1A;
}
.size-w{
  display: flex;
  justify-content: center;
}
.size-box {
  font-family: 'Yandex Sans Text';
  font-size: 17px;
  line-height: 75%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2A2A2A;
  width: 75px;
  height: 38px;
  background: #EAEAEA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 11px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
  cursor: pointer;
}
 .size-box.active {
  background: rgba(0, 0, 0, 0.56);
  color: white;
}
.size-box:hover {
  background: #CBCBCB;
  color: white;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}

.sl-tabs-w {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-tab-sl {
  font-family: Arial;
  font-size: 19px;
  line-height: 75%;
  text-align: center;
  color: #7E7E7E;
 position: relative;
  padding: 10px 19px 10px 19px;
  margin: 15px 0;
  transition: transform 0.5s ease;
  -webkit-transition: color .4s ease-out;
  -moz-transition: color .4s linear;
  transition: color .4s linear;
}
.btn-tab-sl:hover, .btn-tab-sl.active{
  color: #1A1A1A;
  cursor: pointer;
  -webkit-transition: color .4s ease-out;
  -moz-transition: color .4s linear;
  transition: color .4s linear;
}
/*
.multis-inner-w{
  margin: -1px;
}
*/
 .btn-tab-sl.active:before{
  width:  calc(100% - 34px);
  transition: width 0.5s ease;
}
.btn-tab-sl:before{
  left: 16px;
  bottom: 4px;
  width: 0px;
  height: 2px;
  background: black;
  content: " ";
  display: block;
  position: absolute;
  transition: width 0.5s ease;
}

.btn-tab-sl:hover:before {
  width:  calc(100% - 34px);
  transition: width 0.5s ease;
}
.movebottom{
  transform: translateY(3px);
  transition: transform 0.5s ease;
}

.sl-tabs-w {
  margin-top: 7px;
}
.under-project-text{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  width: 1100px;
  margin-top: 83px;
}

.swiper-container-tab-slider2{
  width: 1112px;
  margin: 0 auto;
  overflow: hidden;
 /* border: 6px solid black; */
  margin-top: -2px;
}
.inner-sl-2-tab {
  
  overflow: hidden;
}
.tab-sl2-home-section .sl-tabs-w{
  margin-top: 28px;
}
.tab-sl2-home-section .inner-sl-2-tab  img {
  border: 6px solid black;
  width: 100%;
  display: block;
  height: 713px;
    width: 1112px;
}

.tab-sl-arrovs-prev2 .multi-button-prev-inner, .tab-sl-arrovs-next2 .multi-button-next-inner{
  top: calc(50% - -35px);
}


.tab-sl-title2-w {
    position: absolute;
    bottom: 11px;
    left: 11px;
    height: 48px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    width: calc(100% - 24px);
    display: flex;
    align-items: flex-end;
    padding: 10px 18px;
    font-size: 17px;
    font-family: 'Yandex Sans Text';
}





.under-tab-sl2-text {
  line-height: 38px;
  width: 1100px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  font-size: 20px;
  padding: 17px 0;
}
.tab-slider2-pagination {
  font-size: 20px;
  color: #FF8A00;
  bottom: 22px;
  right: 155px;
  position: absolute;
  left: auto;
  top: auto;
  display: block;
  width: auto;
  z-index: 100;
}
/***********************/
.section-about-work {
  margin: 85px auto;
  width: 1161px;
}
.section-about-work h2 {
  font-size: 30px;
  margin-bottom: 44px;
}
.about-box-w.grid-container {
  grid-gap: 49px 41px;
}
.top-an-w {
  display: flex;
  align-items: center;
}
.count {
  font-size: 40px;
  font-weight: 500;
}
.sqw {
  background: black;
  width: 7px;
  height: 7px;
  margin-left: 13px;
}
.line {
  width: 300px;
  height: 1px;
  background: black;
  margin-left: 13px;
}
.about-work-tile-sm {
  font-size: 25px;
  padding: 14px 0;
}
.about-work-text {
  font-size: 16px;
  line-height: 24px;
}

.animate{
animation: anime infinite 5s linear;
}

@keyframes anime {
  0% {
      background: orange;
  }
  33% {
    background: red;
  }
  66% {
    background: blue;
  }
  100% {
    background: orange;
  }
}
.homtop-slide-inner-w.relative {
  height: calc(100vh - 300px);
}

.main-menu-w ul li a.animate2:before{
  animation: anime2 infinite 5s linear;
  background: violet;
  }
  
  @keyframes anime2 {
    0% {
        background: orange;
    }
    33% {
      background: red;
    }
    66% {
      background: blue;
    }
    100% {
      background: orange;
    }
  }
  .homtop-slide-inner-w.relative {
    height: calc(100vh - 226px);
  }
/*
.homtop-slide-inner-w.relative {  
  background: url('assets/img/slide1-img.jpg');
  background-size: contain;
 /* background-position: top left; 
  background-size: 100% auto;
  transition: background-size 10s linear;
  transform: scale(1.5);
  transition-delay: 2s;

}
.swiper-slide-active .homtop-slide-inner-w.slide-animation{  
  transform: scale(1);
 background-size: 100% auto; 
  transition-delay: 2s;
  transition: background-size 10s linear;
}
*/
.absolute{
  position: absolute;
}