/************
1. FONTS
2. Common style
3. Header
4. Footer
5 HOME
   5.1 SLIDER HOME TOP 
   5.2 MULTI SLIDER HOME
******************/



/*******************1. FONTS**************************/
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/ProximaNova-Regular.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Bold.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Bold?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Bold.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Bold.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 900;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Medium.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Medium.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Medium.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Medium.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Regular.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Regular?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Regular.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Regular.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Regular.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Light.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Light?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Light.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Light.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Light.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'Yandex Sans Text';
  src: url('assets/fonts/YandexSansText-Thin.eot');
  /* IE9 Compat Modes */
  src: url('assets/fonts/YandexSansText-Thin?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('assets/fonts/YandexSansText-Thin.woff2') format('woff2'),
    /* Super YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Thin.woff') format('woff'),
    /* Pretty YandexSansText Browsers */
    url('assets/fonts/YandexSansText-Thin.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('assets/fonts/YandexSansText-Thin.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 100;
}




/***************  2. Common style       ******************************/
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

a img,
:link img,
:visited img {
  border: 0;
}

a {
  text-decoration: none;
}

div,
header,
section,
p,
a,
img,
body,
html,
input,
textarea,
footer,
button {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

d-none {
  display: none;
}

.relative {
  position: relative;
}


/******************************/
/***********3. Header *******************/
/******************************/
header {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Proxima Nova';
  padding-top: 39px;
}

.top-head {
  display: flex;
  justify-content: space-between;
}

.logo-w a {
  display: flex;
  flex-direction: column;
  color: black;
}

.logo-w a span {
  padding-top: 10px;
  font-size: 11px;
  letter-spacing: 0.55em;
}

a.tel {
  font-size: 26px;
  color: black;
  display: block;
  margin-top: -6px;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  padding-top: 22px;
}

.top-menu ul a {
  font-size: 19px;
  padding: 10px 0 10px 39px;
  padding-left: 39px;
  color: black;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-menu ul a:hover {
  color: #F00D44;
}

.line-top {
  margin-top: 22px;
}

.line-animation {
  width: 100%;
  height: 1px;
  background: black;
}

.main-menu-w ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 26px 0 31px 0;
}

.main-menu-w ul li a {
  color: black;
  font-size: 19px;
  padding: 7px 20px;
  display: block;
}

.main-menu-w ul li a:hover {
  transition: all 0.4s;
  padding-top: 0;
}

/************************************ 5 HOME ******************/
/***********************************************************/
/***********************************************************/


/***************************5.1 SLIDER HOME TOP *******************/
/***********************************************************/

.slider-home-text-w {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1280px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: flex-end;
}

.inner-topsl-text {
  background: rgba(0, 0, 0, 0.24);
  width: 610px;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-home-text-w {
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.69);
}

.slider-home-title {
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #FF8A00;
  padding-top: 104px;
}

.slider-home-text {
  font-size: 29px;
  line-height: 34px;
  line-height: 38px;
  padding-top: 40px;
}

.slider-home-pretitle {
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  padding-top: 41px;
}

.bottom-text {
  padding: 16px 0px;
  font-size: 16px;
  line-height: 19px;
  color: #DFDFDF;
}


/***************************5.2 MULTI SLIDER HOME  *******************/
/***********************************************************/

.multislider-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 129px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #000000;
}

.pretitle-h2 {
  font-size: 37px;
  line-height: 43px;
  text-align: center;
  padding-top: 14px;
    padding-bottom: 123px;

}

.multis-w {
  padding: 6px 6px 3px 6px;
  background: black;
}
.multis-inner-w {
  overflow: hidden;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px 6px;
}
.multis-inner-w img {
  width: 100%;
}

.multi-button-next, .multi-button-prev, .tab-sl-arrovs-prev, .tab-sl-arrovs-next {
  width: 49%;
  height: 100%;
  top: 0;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
.multi-button-prev{
  left: 0;
}

.multi-button-prev-inner:after{
content: 'prev';
}
.multi-button-next-inner:after {
  content: 'next';
}
.multi-button-next-inner:after, .multi-button-prev-inner:after {
font-family: swiper-icons;
font-size: var(--swiper-navigation-size);
text-transform: none!important;
letter-spacing: 0;
text-transform: none;
font-variant: initial;
left: 14px;
font-size: 13px;
}
.multi-button-prev-inner, .multi-button-next-inner  {
  width: 38px;
  height: 38px;
  background: rgba(170, 170, 170, 0.26);
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  top: calc(50% - 19px);
  left: 14px;
  cursor: pointer;
}
.multi-button-next-inner {
  right: 14px;
  left: auto;
}


.multi-button-next-inner:hover, .multi-button-prev-inner:hover {
    background: rgba(170, 170, 170, 0.8);
    color: rgba(0, 0, 0, 1);
}
.multi-sl-title-w {
  position: absolute;
  bottom: 17px;
  left: 12px;
  background: rgba(0, 0, 0, 0.3);
  width: calc(100% - 24px);
  padding: 12px 17px 12px 14px;
  display: flex;
  justify-content: space-between;
  min-height: 48px;;
}
.multi-sl-color-t {
  color: #FFBA69;
  font-size: 19px;

}
.multis-inner-w:hover .multi-sl-color-t {
  color: #FF8A00;
  font-size: 20px;
}
.multi-sl-pretitle {
  font-size: 16px;
  color: white;
}


/**************************************/
.tabs-slider-container{
  width: 1360px;
  margin: 0 auto;
  position: relative;
}
.swiper-container-tab-slider{
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.tabs-slider-container  .swiper-inner img {
  margin: 0 auto;
  display: block;
}
.tab-sl-arrovs-prev {
  right: auto;
  left: 0;
}
.tab-sl-arrovs-prev:focus, .tab-sl-arrovs-next:focus{
  outline: none;
}
 .tab-sl-arrovs-prev, .tab-sl-arrovs-next{
  height: calc(100% - 152px);
}


.tab-sl-arrovs-prev .multi-button-prev-inner, .tab-sl-arrovs-next .multi-button-next-inner  {
  background: rgba(0, 0, 0, 0.56);
  width: 58px;
  height: 58px;
  left: 0;
  top: calc(50% - 36px);
}
.tab-sl-arrovs-next .multi-button-next-inner {
  right: 0;
  left: auto;
}
.tab-sl-arrovs-next .multi-button-next-inner:after, .tab-sl-arrovs-prev .multi-button-prev-inner:after{
  font-size: 23px;
  padding-left: 8px;
  color: white;
  
}
.tab-sl-arrovs-prev .multi-button-prev-inner:after{
  padding-right: 8px;
}
.tabs-sl-title h2 {
  margin: 120px 0 62px 0;
}
.tabs-sl-bottom-sin{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 33px 3px;
  align-items: flex-end;
}
.tabs-sl-title{
  font-weight: bold;
  font-size: 19px;
  color: #0A0A0A;
  font-family: Arial;

}
.tabs-sl--pre-title{
  font-size: 16px;
  text-align: right;
  color: #1A1A1A;
}
.size-w{
  display: flex;
  justify-content: center;
}
.size-box {
  font-family: 'Yandex Sans Text';
  font-size: 17px;
  line-height: 75%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2A2A2A;
  width: 75px;
  height: 38px;
  background: #EAEAEA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 11px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.size-box:hover, .size-box.active {
  background: rgba(0, 0, 0, 0.56);
  color: white;
}

.sl-tabs-w {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-tab-sl {
  font-size: 19px;
  line-height: 75%;
  text-align: center;
  color: #7E7E7E;
 
  padding: 10px 19px 10px 19px;
  margin: 15px 0;
}
.btn-tab-sl:hover, .btn-tab-sl.active{
  color: #1A1A1A;
  cursor: pointer;
}

.sl-tabs-w {
  margin-top: 7px;
}
.under-project-text{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  width: 1100px;
  margin-top: 83px;
}

.swiper-container-tab-slider2{
  width: 1112px;
  margin: 0 auto;
  overflow: hidden;
 /* border: 6px solid black; */
  margin-top: -2px;
}
.inner-sl-2-tab {
  
  overflow: hidden;
}
.tab-sl2-home-section .sl-tabs-w{
  margin-top: 28px;
}
.tab-sl2-home-section  img {
  border: 6px solid black;
  width: 100%;
  display: block;
}

.tab-sl-arrovs-prev2 .multi-button-prev-inner, .tab-sl-arrovs-next2 .multi-button-next-inner{
  top: calc(50% - -35px);
}


.tab-sl-title2-w {
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 48px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
    padding: 10px 18px;
    font-size: 17px;
    font-family: 'Yandex Sans Text';
}
.under-tab-sl2-text {
  line-height: 38px;
  width: 1100px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  font-size: 20px;
  padding: 17px 0;
}
.tab-slider2-pagination {
  font-size: 20px;
  color: #FF8A00;
  bottom: 22px;
  right: 165px;
  position: absolute;
  left: auto;
  top: auto;
  display: block;
  width: auto;
  z-index: 100;
}
/***********************/
.section-about-work {
  margin: 85px auto;
  width: 1161px;
}
.section-about-work h2 {
  font-size: 30px;
  margin-bottom: 44px;
}
.about-box-w.grid-container {
  grid-gap: 49px 41px;
}
.top-an-w {
  display: flex;
  align-items: center;
}
.count {
  font-size: 40px;
  font-weight: 500;
}
.sqw {
  background: black;
  width: 7px;
  height: 7px;
  margin-left: 13px;
}
.line {
  width: 300px;
  height: 1px;
  background: black;
  margin-left: 13px;
}
.about-work-tile-sm {
  font-size: 25px;
  padding: 14px 0;
}
.about-work-text {
  font-size: 16px;
  line-height: 24px;
}

.animate{

background: -moz-linear-gradient(top,  #4daef4 0%, #2667f2 10%, #b826f2 19%, #ed25e6 26%, #ff288c 33%, #ff282c 43%, #f2a026 51%, #f7f72e 61%, #45ff28 73%, #28f7ff 82%, #282cff 94%, #867de8 100%);
background: -webkit-linear-gradient(top,  #4daef4 0%,#2667f2 10%,#b826f2 19%,#ed25e6 26%,#ff288c 33%,#ff282c 43%,#f2a026 51%,#f7f72e 61%,#45ff28 73%,#28f7ff 82%,#282cff 94%,#867de8 100%);
background: linear-gradient(to right,  #4daef4 0%,#2667f2 10%,#b826f2 19%,#ed25e6 26%,#ff288c 33%,#ff282c 43%,#f2a026 51%,#f7f72e 61%,#45ff28 73%,#28f7ff 82%,#282cff 94%,#867de8 100%);

background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  animation-delay: 5s;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}